<h1>Sign Up Below:</h1>

<% if @user.errors.any? %>
  <div id="error">
    <h2><%= @user.errors.count %> error(s) prohibited account creation:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form action='/signup' method='post'>
    <p><label for="username">Username: </label>
    <input type="text" name="username" value="<%= @user.username %>"/><br>

    <label for="email">Email Address: </label>
    <input type="text" name="email" value="<%= @user.email %>"/><br>

    <label for="password">Password: </label>
    <input type="text" name="password" /><br>

    <input type="submit" value="Sign Up" /></p>
</form>

<br><br><a href='/'>Return Home</a>