<h1>Sign Up Below:</h1>

<form action='/signup' method='post'>
    <p><label for="username">Username: </label>
    <input type="text" name="username" /><br>

    <label for="email">Email Address: </label>
    <input type="text" name="email" /><br>

    <label for="password">Password: </label>
    <input type="text" name="password" /><br>

    <input type="submit" value="Sign Up" /></p>
</form>

<br><br><a href='/'>Return Home</a>