<h3>Login to AVIDcraft</h3>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="submit">
</form>
<br><br>
Go back to <a href='/'>Main Page</a>