<h3>Login to AVIDcraft</h3>

<% if @failed %>
	<div id="error">
		<p class="error">Username/Password combo incorrect.</p>
	</div>
<% end %>

<form action="/login" method="POST">
	<label for="username">Username:</label><br>
	<input type="text" id="username" name="username" placeholder="Username:"><br><br>
	
	<label for="password">Password:</label><br>
	<input type="password" it="password" name="password" placeholder="Password:"><br><br>
	<input type="submit" value="submit">
</form>
<br><br>
Go back to <a href='/'>Main Page</a>