<h3>All items for <em><%= @user.username %></em>:</h3>
<ul>
<% @user.items.each do |item| %>
  <li><a href="/items/<%= item.id %>"><%= item.title %></a></li>
<% end %>
</ul>

<a href="/items">Go Back</a> to items index

