<h3>Welcome to AVIDcraft!</h3>

<% if logged_in? %>
    <p> You are logged in as <%= current_user.username %><br><br>
    Go to <a href='/items'>Items Index</a> or <a href="/logout">log izzout</a></p>
<% else %>
    <p>To view Items Index, please <a href="/login">log in</a> or <a href="/signup">sign up</a></p>
<% end %>