<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>AVIDcraft || A Space to Create</title>
</head>
<body>
<img src="/photos/logo.png" width=300>
<%= yield %>
</body>
</html>